.landing-page{
    color: white;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    max-height: 100vh;
    overflow: hidden;

}
#user-name{
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
}
.form-group {
    text-align:center;
}
main {
    padding-bottom: 10vh;
    margin-bottom: 10vh;
    height: 200vh;
}
#landing-img {
    flex-shrink: 1;
    max-width: 30vw;
    height: auto;
}
p {
    font-size: 1.2em;
    width: 60vw;
}


input{
    width: 40vw;
    padding: 10px;
    border-radius: 6px;
    border: none;
    flex-grow: 2;

}
button {
    margin-top: 1vh;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #3c7179;
    color: #03ffc2;
}
button:hover {
    background-color: #03a573;
    color: #3c7179;
}

  