img {
    max-height: 15vh;
    width: auto;
}

.dog, .cat {
    width: 30vw;
    height: 40vh;
    margin: 5vh 5vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: rgba(163, 200, 200, 0.73);
    border-radius: 5px;
    padding: 1vh 1vw;



}
p {
    height: 15vh;
    text-align:center;
    width: 30vw;
}

.user-list {
    display: flex;
    background-color: #98c898;
    width: 100vw;
    overflow-x:auto;
}

.user-list > ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

ul.animal {
    list-style-type: none;
}

.image-container{

    height: 20vh;
    width: auto;
}
