img {
    max-height: 20vh;
    width: auto;
}

.dog {
    width: 45vw;
    height: 50vh
}

.cat {
    width: 40vw;
    height: 50vh;
}

p {
    height: 15vh;
    text-align: left;
    width: 30vw;
}

.user-list {
    display: flex;
    background-color: #98c898;
    width: 100%;
}

.user-list > ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

ul.animal {
    list-style-type: none;
}