.adoptions-page {
    display: flex;
    max-width: 100vw;
  max-height:100vh;
  flex-flow: row wrap;

  }

  .users, .last-adopted{
    flex: 1;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
    border-left: 5px ridge #3c7179;
    border-right:5px ridge #3c7179;
    padding: 0 2vw;
  }
  .user{
    margin-top:10px;
    margin-left:10px;
  }
  .user img{
    border-radius: 4px;
  }
  #info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: baseline ;
  }

  
  .animals {
    flex: 4;
  }

  .animal > button {

    padding: 4vh 4vw;
  }
ul#info {
  margin: 1vh 2vw;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
ul#info > li {
  height: 2vh;
}
  
  .animal-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding:2vh 8vw;

  }

  img.responsive {
    max-width: 30vw;
    height: auto;
    border-radius: 15px;
  }

  .dog-queue{
    background-color: aquamarine;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    margin:10px;
    max-width: 40vw;
    padding:5px;
  }
  .cat-queue{
    background-color: aquamarine;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    margin:10px;

    max-width: 40vw;
    padding:5px;
  }
  
  .wrapped-adopted{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .adopted-wrapper{
    height: 70vh;
    overflow-y: auto;
  }