.adoptions-page {
    display: flex;
    max-width: 100vw;
    max-height:80vh;
    flex-flow: column nowrap;
    overflow: hidden;

  }

.adoption-display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


  .user{
    margin-top:10px;
    margin-left:10px;
  }
  .user img{
    border-radius: 4px;
  }
  #info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: baseline ;
  }

  
  .pets {
    flex: 6;
  }

  .pet > button {

    padding: 4vh 4vw;
  }

ul#info > li {
  height: 2vh;
}
  
  .pet-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding:2vh 8vw;

  }

  img.responsive {
    max-width: 30vw;
    height: auto;
    border-radius: 15px;
  }


  
  .wrapped-adopted{
    height: 80vh;
    display: flex;
    flex-direction: column;
  }

  .adopted-container{
    height: 50vh;
    overflow-y: auto;
  }

  form#username-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  button {
    width: 33%;
  }
  input {
    width: 75%;
  }

  .user-list {
    display: flex;
    background-color: hsla(210, 80%, 40%, 0.8);
  }

  .adopted-list {
    list-style-type: none;
    background-color: aquamarine;
    border-radius: 10px;
    height: 35vh;
    text-align: left;
  }

  .adopted-list li {
    border-bottom: 1px solid black;
    margin-bottom: 2px;
    padding: 1vh 1vw;

  }

  .adoption-message {
    position:absolute;
    top: 20vh;
    left: 20vw;
    width: 60vw;
    border-radius: 15px;
    height: 60vw;
    z-index: 10;
    background-color: skyblue;
    color: #172d41;

  }

  .wait-message {
    text-align: center;
  }