.adoptions-page {
    display: flex;
    max-width: 100vw;
    max-height:80vh;
    flex-flow: column nowrap;
    overflow: hidden;

  }

.adoption-display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


  .user{
    margin-top:10px;
    margin-left:10px;
  }
  .user img{
    border-radius: 4px;
  }
  #info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: baseline ;
  }

  
  .pets {
    flex: 6;
  }

  .pet > button {

    padding: 4vh 4vw;
  }
ul#info {
  margin: 1vh 2vw;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
ul#info > li {
  height: 2vh;
}
  
  .pet-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding:2vh 8vw;

  }

  img.responsive {
    max-width: 30vw;
    height: auto;
    border-radius: 15px;
  }

  .dog-queue{
    background-color: aquamarine;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    margin:10px;
    max-width: 40vw;
    max-height: 40vh;
    padding:5px;
  }
  .cat-queue{
    background-color: aquamarine;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    margin:10px;
    max-height: 40vh;
    max-width: 40vw;
    padding:5px;
  }
  
  .wrapped-adopted{
    height: 80vh;
    display: flex;
    flex-direction: column;
  }

  .adopted-container{
    height: 50vh;
    overflow-y: auto;
  }

  form#username-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  button {
    width: 33%;
  }
  input {
    width: 50%;
  }

  .user-list {
    display: flex;
    background-color: hsla(210, 80%, 40%);
  }

  .adopted-list {
    list-style-type: none;
    background-color: aquamarine;
  }